<swiper-container
  class="banner"
  autoplay-delay="2900"
  slides-per-view="1"
  loop="true"
  effect="fade"
>
  <swiper-slide>
    <img src="\images\home\banner1.jpg" alt="banner1" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\banner2.jpg" alt="banner2" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\banner3.jpg" alt="banner3" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\banner4.jpg" alt="banner4" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\banner5.jpg" alt="banner5" />
  </swiper-slide>
</swiper-container>

<swiper-container
  class="report"
  autoplay-delay="1800"
  slides-per-view="3"
  loop="true"
  space-between="10"
>
  <swiper-slide>
    <img src="\images\home\report1.jpg" alt="report1" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\report2.jpg" alt="report2" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\report3.jpg" alt="report3" />
  </swiper-slide>
  <swiper-slide>
    <img src="\images\home\report4.jpg" alt="report4" />
  </swiper-slide>
</swiper-container>
