<div class="top-banner" *ngIf="bannerShow">
  <div class="banner-close-wrapper">
    <p (click)="onClickBannerClose()">X</p>
  </div>
  배너광고를 위한 공간입니다
</div>

<div class="header-global-nav">
  <div class="header-global-nav-frame">
    <div class="home-box" (click)="navigateTo('')">HOME</div>
    <div class="button-container">
      <p class="global-button" (click)="navigateTo('login')">로그인</p>
      <div class="vertical-bar"></div>
      <p class="global-button" (click)="navigateTo('join')">회원가입</p>
      <div class="vertical-bar"></div>
      <p class="global-button">마이페이지</p>
      <div class="vertical-bar"></div>
      <p class="global-button">주문내역</p>
      <div class="vertical-bar"></div>
      <p class="global-button">장바구니</p>
      <div class="vertical-bar"></div>
      <p class="global-button">찜목록</p>
    </div>
  </div>
</div>

<div class="header-logo">
  <p class="vintage" (click)="navigateTo('')">VINTAGE</p>
  <p class="since">SINCE 1997</p>
</div>

<div class="header-global-category">
  <div class="header-global-category-frame">
    <div class="hamburger-menu-wrapper">
      <div class="hamburger-menu" (mouseenter)="menuVisable = true">
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
      </div>
      <div class="all-menu" *ngIf="menuVisable">
        <div *ngFor="let c1 of c1s">
          <p class="c1 clickable" (click)="navigateToShop(c1.name)">
            {{ c1.name }}
          </p>
          <div *ngFor="let c2 of c1.c2s">
            <p class="c2 clickable" (click)="navigateToShop(c1.name, c2.name)">
              {{ c2.name }}
            </p>
            <div class="c3" *ngFor="let c3 of c2.c3s">
              <p
                class="clickable"
                (click)="navigateToShop(c1.name, c2.name, c3)"
              >
                {{ c3 }}
              </p>
            </div>
          </div>
        </div>
        <div>
          <p class="c1">COMMUNITY</p>
          <div>
            <p class="c2 clickable">NOTICE</p>
            <p class="c2 clickable">Q&A</p>
            <p class="c2 clickable">REVIEW</p>
          </div>
        </div>
      </div>
    </div>
    <p class="menu">ABOUT US</p>
    <p class="menu">BRAND LIST</p>
    <p class="menu" (click)="navigateToShop('NEW')">NEW ARRIVAL</p>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('MEN')"
        (mouseenter)="menuVisable = true"
      >
        MEN
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[0].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('MEN', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('WOMEN')"
        (mouseenter)="menuVisable = true"
      >
        WOMEN
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[1].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('WOMEN', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu" (click)="navigateToShop('KID')">KID</p>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('ACC')"
        (mouseenter)="menuVisable = true"
      >
        ACC
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[3].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('ACC', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu sale" (click)="navigateToShop('SALE')">ON SALE</p>
    <p class="menu" (click)="navigateTo('notice')">NOTICE</p>
    <p class="menu" (click)="navigateTo('qna')">Q&A</p>
    <p class="menu">REVIEW</p>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="top">
    <div class="topBox1">
      <p class="topTitle">CONTACT US</p>
      <p class="phone">010-3002-0014</p>
      <div class="textAlign">
        <p>
          <strong>문의 가능 시간</strong> 09:30 ~ 17:30 (토, 일 공휴일 휴무)
        </p>
        <p><strong>점심시간</strong> 12:00 ~ 13:00</p>
        <p>
          업무 중 전화통화가 어려우니 문의는 카카오톡 상담하기를 이용
          부탁드립니다.
        </p>
      </div>
    </div>
    <div class="topBox2">
      <p class="topTitle">BANK ACCOUNT</p>
      <div class="textAlign">
        <p><strong>국민은행</strong> 910526-92-0214</p>
        <p><strong>농협은행</strong> 101-44-971014</p>
        <p><strong>우리은행</strong> 3910-067281-1649</p>
        <p><strong>하나은행</strong> 7121-419587-6803</p>
        <p><strong>신한은행</strong> 1743-88-0921</p>
        <p class="marginTop13"><strong>예금주</strong> 권혁민</p>
      </div>
    </div>
    <div class="topBox3">
      <p class="topTitle">REFUND & EXCHANGE</p>
      <div class="textAlign">
        <p>
          <strong> (05329) 광주광역시 남구 회재로 1290-1 3층 소포실 </strong>
        </p>
        <p>· 반품·교환 전, 꼭 유의사항을 확인해주세요</p>
        <p>· 상품발송 후 배송정보는 택배사 사이트에서 조회가 가능합니다.</p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="textAlign">
      <div class="line">
        <p>상호명: 오렌지무역</p>
        <p>쇼핑몰명: VINTAGE</p>
        <p>대표: 권혁민</p>
        <p>고객센터: 070-0526-1014</p>
      </div>
      <div class="line">
        <p>광주광역시 남구 회재로 1290-1</p>
        <p>사업자등록번호 : 1404114041</p>
      </div>
      <p class="marginTop13">
        COPYRIGHT © 오렌지무역 VINTAGE ALL RIGHT RESERVED.
      </p>
      <p>
        본 사이트내 모든 이미지 및 컨텐츠 등은 저작권법 제4조의 의한 저작물로써
        소유권은 오렌지무역 VINTAGE 에게 있으며, 무단 도용시 법적인 제재를 받을
        수 있습니다.
      </p>
    </div>
  </div>
</div>
