<div class="header-global-nav">
  <div class="header-global-nav-frame">
    <div class="home-box" (click)="navigateTo('')">HOME</div>
    <div class="button-container">
      <p class="global-button" (click)="navigateTo('login')">로그인</p>
      <div class="vertical-bar"></div>
      <p class="global-button" (click)="navigateTo('join')">회원가입</p>
      <div class="vertical-bar"></div>
      <p class="global-button">마이페이지</p>
      <div class="vertical-bar"></div>
      <p class="global-button">주문내역</p>
      <div class="vertical-bar"></div>
      <p class="global-button">장바구니</p>
      <div class="vertical-bar"></div>
      <p class="global-button">찜목록</p>
    </div>
  </div>
</div>

<div class="header-logo">
  <p class="vintage">VINTAGE</p>
  <p class="since">SINCE 1997</p>
</div>

<div class="header-global-category">
  <div class="header-global-category-frame">
    <div class="hamburger-menu-wrapper">
      <div class="hamburger-menu">
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
      </div>
      <div class="all-menu">
        <div *ngFor="let category of categories">
          <p class="category">{{ category.name }}</p>
          <div *ngFor="let subCategory of category.subCategories">
            <p class="sub-category">{{ subCategory.name }}</p>
            <p class="item" *ngFor="let item of subCategory.items">
              {{ item }}
            </p>
          </div>
        </div>
        <div>
          <p class="category">COMMUNITY</p>
          <div>
            <p class="sub-category">NOTICE</p>
            <p class="sub-category">Q&A</p>
            <p class="sub-category">REVIEW</p>
          </div>
        </div>
      </div>
    </div>
    <p class="menu">ABOUT US</p>
    <p class="menu">BRAND LIST</p>
    <p class="menu">NEW ARRIVAL</p>
    <div class="menu-wrapper">
      <p class="menu">MEN</p>
      <div class="sub-menu">
        <div
          style="display: flex"
          *ngFor="let subCategory of categories[0].subCategories"
        >
          <p
            class="sub-category-name"
            (mouseenter)="hoveredSubCategoryName = subCategory.name"
            (mouseleave)="hoveredSubCategoryName = null"
          >
            {{ subCategory.name }}
          </p>
          <div class="sub-category-cover-box">
            <div
              class="sub-category-cover"
              [ngClass]="{ show: hoveredSubCategoryName === subCategory.name }"
              [ngStyle]="{
                'background-image':
                  hoveredSubCategoryName === subCategory.name
                    ? 'url(' + subCategory.cover + ')'
                    : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-wrapper">
      <p class="menu">WOMEN</p>
      <div class="sub-menu">
        <div
          style="display: flex"
          *ngFor="let subCategory of categories[1].subCategories"
        >
          <p
            class="sub-category-name"
            (mouseenter)="hoveredSubCategoryName = subCategory.name"
            (mouseleave)="hoveredSubCategoryName = null"
          >
            {{ subCategory.name }}
          </p>
          <div class="sub-category-cover-box">
            <div
              class="sub-category-cover"
              [ngClass]="{ show: hoveredSubCategoryName === subCategory.name }"
              [ngStyle]="{
                'background-image':
                  hoveredSubCategoryName === subCategory.name
                    ? 'url(' + subCategory.cover + ')'
                    : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu">KID</p>
    <div class="menu-wrapper">
      <p class="menu">ACCESORRY</p>
      <div class="sub-menu">
        <div
          style="display: flex"
          *ngFor="let subCategory of categories[3].subCategories"
        >
          <p
            class="sub-category-name"
            (mouseenter)="hoveredSubCategoryName = subCategory.name"
            (mouseleave)="hoveredSubCategoryName = null"
          >
            {{ subCategory.name }}
          </p>
          <div class="sub-category-cover-box">
            <div
              class="sub-category-cover"
              [ngClass]="{ show: hoveredSubCategoryName === subCategory.name }"
              [ngStyle]="{
                'background-image':
                  hoveredSubCategoryName === subCategory.name
                    ? 'url(' + subCategory.cover + ')'
                    : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu sale">ON SALE</p>
    <p class="menu">NOTICE</p>
    <p class="menu">Q&A</p>
    <p class="menu">REVIEW</p>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

<div class="footer"></div>
