<div class="top-banner" *ngIf="bannerShow">
  <div class="banner-close-wrapper">
    <p (click)="onClickBannerClose()">X</p>
  </div>
  배너광고를 위한 공간입니다
</div>

<div class="header-global-nav">
  <div class="header-global-nav-frame">
    <div class="home-box" (click)="navigateTo('')">HOME</div>
    <div class="button-container">
      <p class="global-button" (click)="navigateTo('login')">로그인</p>
      <div class="vertical-bar"></div>
      <p class="global-button" (click)="navigateTo('join')">회원가입</p>
      <div class="vertical-bar"></div>
      <p class="global-button">마이페이지</p>
      <div class="vertical-bar"></div>
      <p class="global-button">주문내역</p>
      <div class="vertical-bar"></div>
      <p class="global-button">장바구니</p>
      <div class="vertical-bar"></div>
      <p class="global-button">찜목록</p>
    </div>
  </div>
</div>

<div class="header-logo">
  <p class="vintage" (click)="navigateTo('')">VINTAGE</p>
  <p class="since">SINCE 1997</p>
</div>

<div class="header-global-category">
  <div class="header-global-category-frame">
    <div class="hamburger-menu-wrapper">
      <div class="hamburger-menu" (mouseenter)="menuVisable = true">
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
      </div>
      <div class="all-menu" *ngIf="menuVisable">
        <div *ngFor="let c1 of c1s">
          <p class="c1 clickable" (click)="navigateToShop(c1.name)">
            {{ c1.name }}
          </p>
          <div *ngFor="let c2 of c1.c2s">
            <p class="c2 clickable" (click)="navigateToShop(c1.name, c2.name)">
              {{ c2.name }}
            </p>
            <div class="c3" *ngFor="let c3 of c2.c3s">
              <p
                class="clickable"
                (click)="navigateToShop(c1.name, c2.name, c3)"
              >
                {{ c3 }}
              </p>
            </div>
          </div>
        </div>
        <div>
          <p class="c1">COMMUNITY</p>
          <div>
            <p class="c2 clickable">NOTICE</p>
            <p class="c2 clickable">Q&A</p>
            <p class="c2 clickable">REVIEW</p>
          </div>
        </div>
      </div>
    </div>
    <p class="menu">ABOUT US</p>
    <p class="menu">BRAND LIST</p>
    <p class="menu" (click)="navigateToShop('NEW')">NEW ARRIVAL</p>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('MEN')"
        (mouseenter)="menuVisable = true"
      >
        MEN
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[0].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('MEN', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('WOMEN')"
        (mouseenter)="menuVisable = true"
      >
        WOMEN
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[1].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('WOMEN', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu" (click)="navigateToShop('KID')">KID</p>
    <div class="menu-wrapper">
      <p
        class="menu"
        (click)="navigateToShop('ACC')"
        (mouseenter)="menuVisable = true"
      >
        ACC
      </p>
      <div class="sub-menu" *ngIf="menuVisable">
        <div style="display: flex" *ngFor="let c2 of c1s[3].c2s">
          <p
            class="c2-name"
            (mouseenter)="hoveredC2Name = c2.name"
            (mouseleave)="hoveredC2Name = null"
            (click)="navigateToShop('ACC', c2.name)"
          >
            {{ c2.name }}
          </p>
          <div class="c2-cover-box">
            <div
              class="c2-cover"
              [ngClass]="{ show: hoveredC2Name === c2.name }"
              [ngStyle]="{
                'background-image':
                  hoveredC2Name === c2.name ? 'url(' + c2.cover + ')' : 'none'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <p class="menu sale" (click)="navigateToShop('SALE')">ON SALE</p>
    <p class="menu" (click)="navigateTo('notice')">NOTICE</p>
    <p class="menu" (click)="navigateTo('qna')">Q&A</p>
    <p class="menu">REVIEW</p>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
