<p class="page-title">{{ selectedC1 }}</p>

<div
  class="category-container"
  *ngIf="selectedC1 !== 'NEW' && selectedC1 !== 'SALE'"
>
  <select [(ngModel)]="selectedC1" (change)="onC1Change()">
    <option *ngFor="let c1 of c1s" [value]="c1.name">
      {{ c1.name }}
    </option>
  </select>
  <select [(ngModel)]="selectedC2" (change)="onC2Change()">
    <option value="">-</option>
    <option *ngFor="let c2 of c2s" [value]="c2.name">
      {{ c2.name }}
    </option>
  </select>
  <select [(ngModel)]="selectedC3" [disabled]="!selectedC2">
    <option value="">-</option>
    <option *ngFor="let c3 of c3s">{{ c3 }}</option>
  </select>
</div>
